@import url("reset.css");

:root {
  --cool-base: #0077b6;
  --cool-deep: #03045e;
  --cool-alt: #028090;
  --warm-base: #de6664;
  --warm-deep: brown;
  --warm-alt: #d99759;
}

body {
  color: rgba(224, 224, 224, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation-duration: 16s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes cool-interval {
  0% {
    background-color: var(--cool-base);
  }
  33% {
    background-color: var(--cool-deep);
  }
  66% {
    background-color: var(--cool-alt);
  }
  100% {
    background-color: var(--cool-base);
  }
}

@keyframes warm-interval {
  0% {
    background-color: var(--warm-base);
  }
  33% {
    background-color: var(--warm-deep);
  }
  66% {
    background-color: var(--warm-alt);
  }
  100% {
    background-color: var(--warm-base);
  }
}

#box {
  height: 15rem;
  width: 15rem;
  border: 0.2rem solid rgba(224, 224, 224, 0.4);
  border-radius: 0.4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: zoom;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.15, 1.15);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* .instruction {
  visibility: hidden;
}
.instruction:after {
  content: "in";
  font-size: 3rem;
  visibility: visible;
  animation-name: text-change;
  animation-duration: 8s;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes text-change {
  0% {
    content: "in";
  }
  50% {
    content: "out";
  }
} */

.box-progress {
  visibility: hidden;
}

.box-progress:after {
  content: ".";
  font-size: 3rem;
  visibility: visible;
  animation-name: box-progress;
  animation-duration: 16s;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes box-progress {
  0% {
    content: ".";
  }
  25% {
    content: ". .";
  }
  50% {
    content: ". . .";
  }
  75% {
    content: ". . . .";
  }
}

#circle {
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgba(224, 224, 224, 1);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  animation-name: box-movement;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes box-movement {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  75% {
    top: 100%;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}
